@import '~milligram/dist/milligram.css';
@import '~pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css';

html,
body {
    height: 100%;
}

body {
    background-color: $white;
    margin: 0;
    padding: 0;
}
