.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 ($unit * 1.5);
    height: $header-height;
    color: $white;
    text-shadow: 0 1px 5px rgba(black, 0.15);
    background: $tertiary;
    background: -moz-linear-gradient(45deg, $tertiary 0%, $light-gray 100%);
    background: -webkit-linear-gradient(45deg, $tertiary 0%,$light-gray 100%);
    background: linear-gradient(45deg, $tertiary 0%,$light-gray 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$tertiary', endColorstr='$light-gray',GradientType=1 );
}

.Header__Text {
    margin-bottom: 0;
}

.HeaderSearch {
    display: flex;
    align-items: center;
    height: 100%;
}

.HeaderSearch__Text {
    font-size: ($unit * 1.5);
    margin-bottom: 0;
}

.HeaderMenuItems {
    display: flex;
    height: 100%;
    align-items: center;
}

.HeaderMenuItems__UserName {
    font-size: ($unit * 1.5);
    margin-right: ($unit * 0.75);
    margin-bottom: 0;
}

.Header__Icon--Search {
    position: relative;
    top: 2px;
    font-size: ($unit * 2.25);
    margin-right: ($unit * 0.75);
}

.Header__Icon--User {
    position: relative;
    top: 2px;
    font-size: ($unit * 4);
}
