// General
$white: #ffffff;
$light-gray: #D7DADB;
$extra-light-gray: #FAFAFA;
$primary: #2C3E50;
$secondary: #FC4349;
$tertiary: #6DBCDB;
// $success: #;
// $warning: #;
// $info: #;
$danger: #FC4349;

$unit: 1rem;

// Header
$header-height: $unit * 5;
