@import url(~milligram/dist/milligram.css);
@import url(~pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css);
html,
body {
  height: 100%; }

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0; }

#root {
  width: 100%;
  height: 100%; }

.App {
  display: flex;
  flex-direction: row;
  height: 100%; }

.MainContent {
  display: flex;
  flex: 1;
  flex-direction: column; }

.MainContent__Body {
  display: flex;
  flex: 1;
  padding: 2rem; }

.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FAFAFA;
  box-shadow: inset -4px 0 1rem 0 rgba(0, 0, 0, 0.1); }

.SidebarHeader {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 5rem;
  color: #ffffff;
  background-color: #2C3E50; }

.SidebarHeader__Text {
  margin-bottom: 0.25rem;
  font-style: italic; }

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 5rem;
  color: #ffffff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background: #6DBCDB;
  background: -moz-linear-gradient(45deg, #6DBCDB 0%, #D7DADB 100%);
  background: -webkit-linear-gradient(45deg, #6DBCDB 0%, #D7DADB 100%);
  background: linear-gradient(45deg, #6DBCDB 0%, #D7DADB 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$tertiary', endColorstr='$light-gray',GradientType=1 ); }

.Header__Text {
  margin-bottom: 0; }

.HeaderSearch {
  display: flex;
  align-items: center;
  height: 100%; }

.HeaderSearch__Text {
  font-size: 1.5rem;
  margin-bottom: 0; }

.HeaderMenuItems {
  display: flex;
  height: 100%;
  align-items: center; }

.HeaderMenuItems__UserName {
  font-size: 1.5rem;
  margin-right: 0.75rem;
  margin-bottom: 0; }

.Header__Icon--Search {
  position: relative;
  top: 2px;
  font-size: 2.25rem;
  margin-right: 0.75rem; }

.Header__Icon--User {
  position: relative;
  top: 2px;
  font-size: 4rem; }
